.main-text {
    text-align: center;
    border:1px solid white
}

.main-text img {
    height: 70px;
}
#skills-top{
    margin-top: -50px;
}

.skills h6 {
    font-size: 20px;
    margin-bottom: -2px;
}

@media only screen and (max-width: 378px) {
    .main-text img {
        height: 60px;
    }
    .skills h6 {
        font-size: 13px;
        margin-bottom: -2px;
    }
    #skills-top{
        margin-top: -36px;
    }
    
    
}